.additional-products {
  padding-top: 28px;
}

.additional-products__block-title {
  display: flex;
  margin: 0 0 28px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
}

.additional-products__block-title::after {
  content: "";
  flex-grow: 1;
  min-width: 20px;
  height: 3px;
  margin-top: 14px;
  // margin-right: -22px;
  margin-left: 22px;
  background: #68b738;
}

.additional-products__wrapper {
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.additional-products__list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style-type: none;
}

.additional-products__item {
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-products__inner {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 14px;
  line-height: 1;
  font-family: $secondary-font;
}

.additional-products__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
}

// .additional-products__desc {
//   width: 50%;
// }

.additional-products__gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 20px;
  background: #70b447 url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional-products__gift-pic {
  width: 55px;
  height: 60px;
  margin-bottom: 63px;
  fill: #ffffff;
}

.additional-products__gift-slogan {
  max-width: 165px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  font-family: $secondary-font;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding-top: 66px;
  }

  .additional-products__block-title {
    font-size: 36px;
    margin-bottom: 70px;
  }

  .additional-products__block-title::before {
    content: "";
    min-width: 20px;
    height: 3px;
    margin-top: 22px;
    margin-right: 40px;
    margin-left: -33px;
    background: #68b738;
  }

  .additional-products__block-title::after {
    margin-top: 22px;
    margin-left: 36px;
  }

  .additional-products__wrapper {
    padding-right: 30px;
    padding-left: 30px;
  }

  .additional-products__list {
    margin-bottom: 70px;
  }

  .additional-products__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 37px 27px;
    border: 1px solid #cdcdcd;
    border-top: none;
  }

  .additional-products__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1;
  }

  .additional-products__inner {
    font-size: 16px;
    line-height: 1.25;
  }

  .additional-products__price {
    margin-left: 52px;
  }

  .additional-products__button {
    width: 100%;
  }

  .additional-products__gift {
    flex-direction: row;
    align-items: center;
    width: auto;
    min-height: 200px;
    padding: 72px 124px 72px 90px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .additional-products__gift-pic {
    margin-bottom: 0;
  }

  .additional-products__gift-slogan {
    margin-left: auto;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin: 0 auto;
    padding-right: 40px;
    padding-bottom: 86px;
    padding-left: 40px;
  }

  .additional-products__list {
    width: 895px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .additional-products__item {
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 0;
    border-right: none;
    border-left: none;
  }

  .additional-products__title {
    width: 236px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .additional-products__inner {
    width: 285px;
    margin-bottom: 0;
  }

  .additional-products {
    padding-top: 75px;
  }

  .additional-products__block-title {
    width: 100%;
    padding: 0 calc((100% - 1300px) / 2);
    background-image: linear-gradient(to bottom, transparent 22px, #68b738 22px, #68b738 25px, transparent 25px);

    span {
      padding-right: 40px;
      padding-left: 40px;
      background-color: #ffffff;
    }
  }

  .additional-products__button {
    width: 245px;
    margin-left: 40px;
  }

  .additional-products__gift {
    flex-direction: column;
    width: 245px;
    padding: 65px 43px 42px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
  }

  .additional-products__gift-pic {
    margin-bottom: 63px;
    margin-left: 0;
  }

  .additional-products__gift-slogan {
    margin-left: 0;
    text-align: center;
  }
}
