.advertising {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 305px;
    background: $color-index-bg url("../img/index-background-mobile@1x.jpg") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.advertising__wrapper {
  padding-top: 37px;
  padding-right: 20px;
  padding-left: 20px;
}

.advertising__title {
  color: $color-white;
  font-size: 36px;
  text-align: center;
  line-height: 1;
  font-weight: 400;
  width: 250px;
  margin: -9px auto 25px;
}

.advertising__slogan {
  margin: 0;
  text-align: center;
  margin-bottom: 17px;
  line-height: 1;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-white;
  padding-right: 2px;
}

.advertising__image {
  padding-top: 11px;
  margin: 0 auto;
}

.advertising__button {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .advertising::before {
    display: none;
  }

  .advertising__wrapper {
    position: relative;
    padding-right: 120px;
    padding-bottom: 530px;
    padding-left: 120px;
  }

  .advertising__title {
    width: 427px;
    margin-left: 0;
    font-size: 60px;
    text-align: left;
    color: $color-black;
  }

  .advertising__slogan {
    margin-bottom: 45px;
    font-size: 20px;
    text-align: left;
    color: $color-black;
  }

  .advertising__image {
    bottom: 0;
    position: absolute;
  }

  .advertising__button {
    width: 245px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    position: relative;
    z-index: 10;
    margin: 0;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .advertising {
    position: static;
  }

  .advertising__title {
    margin-top: -52px;
    margin-bottom: 27px;
  }

  .advertising__wrapper {
    width: $desktop-width;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 230px;
  }

  .advertising__image {
    bottom: 70px;
    left: 492px;
    transform: none;
  }

  .advertising__slogan {
    position: relative;
    top: 14px;
  }

  .advertising__button {
    position: relative;
    top: 24px;
  }
}
