.button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: $color-accent;
  border: 0;
  outline: 0;
  transition: all ease 0.1s;

  &:hover {
    background: $color-accent-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--show-all {
  color: #444444;
  background: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 1;
  }
}
