.button {
  display: block;
  width: 280px;
  background-color: #68b738;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: white;
  padding-top: 14px;
  padding-bottom: 11px;
  text-transform: uppercase;
}
//button--show-all
