.page-main__title {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  line-height: 36px;
  font-weight: 400;
}

.page-main__slogan {
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.page-main__image {
  margin: 0 auto;
}
//page-main
