.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 280px;
  padding-top: 22px;
  padding-right: 41px;
  padding-bottom: 14px;
  padding-left: 62px;
  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  list-style-type: none;
}

.social__item {
  margin-right: 37px;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.social__icone {
  display: block;

  fill: #666666;

  &--vk {
    // width: 30px;
    // height: 15px;

    width: 21px;
    height: 15px;
    position: relative;
    left: 11px;
    top: -3px;
  }

  &--inst {
    // width: 23px;
    // height: 23px;

    width: 16px;
    height: 23px;
    position: relative;
    top: -2px;
    left: 12px;
  }

  &--fb {
    // width: 13px;
    // height: 27px;

    width: 10px;
    height: 27px;
    position: relative;
    left: 15px;
    top: -3px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    justify-content: flex-start;
    margin: 0;
    margin-left: 52px;
    padding-top: 0;
    padding-right: 72px;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
  }

  .social__item {
    margin-right: 28px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .social__icone {
    transition: all ease 0.1s;

    &:hover {
      fill: $color-accent;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__icone {
    &--vk {
      width: 41px;
      height: 16px;
      left: -4px;
      top: -6px;
    }

    &--inst {
      width: 22px;
      height: 23px;
      top: -5px;
      left: -9px;
    }

    &--fb {
      width: 17px;
      height: 27px;
      left: -10px;
      top: -5px;
    }
  }
}
