//story
//story__wrapper
.story__title {
  font-size: 36px;
  line-height: 60px;
}
.story__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
//story__facts-list
//story__fact
//story__fact--cell
//story__fact-name
//story__fact-amount
//story__facts--cost
//story__slider
