.story {
  overflow: hidden;
  background: $color-gray;
}

.story__wrapper {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.story__title {
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  color: #000000;
}

.story__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  font-family: $secondary-font;
}

.story__facts-list {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

.story__fact {
  display: flex;
}

.story__fact--cell {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 44.29%;
  margin-bottom: 35px;
  padding: 14px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  .story__fact-name {
    position: absolute;
    top: 44px;
    left: 50%;
    width: 87px;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
    text-transform: lowercase;
    background: $color-gray;
    transform: translateX(-50%);
  }

  .story__fact-amount {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}


//story__slider
